apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: capiot
spec:
  type: NodePort
  selector:
    app: capiot-frontend   # must match pod labels
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30081
